<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dinamika E-Catalog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <style>
      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="/">E-Catalog</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/products">Products</a>
            </li>
          </ul>
          <div class="d-flex">
            <% if(!user) { %>
            <a href="/login" class="btn btn-success">Login</a>
            <% } else { %>
            <div class="nav-item dropdown">
              <div
                class="nav-link"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <div class="d-flex align-items-center">
                  <div
                    class="rounded-circle border border-2 d-flex justify-content-center align-items-center"
                    style="width: 2rem; height: 2rem"
                  >
                    <i class="fa-solid fa-user"></i>
                  </div>
                  <p class="mb-0 mx-2 text-capitalize"><%= user.username %></p>
                </div>
              </div>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="fa-regular fa-user"></i> Profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="fa-solid fa-cart-shopping"></i> Keranjang</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="fa-solid fa-heart"></i> Favorit</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/logout"
                    ><i class="fa-solid fa-right-from-bracket"></i> Logout</a
                  >
                </li>
              </ul>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </nav>
    <main class="container mt-5">
      <div class="row">
        <div class="col-lg-6">
          <label for="basic-url" class="form-label">Cari Product</label>
          <div class="input-group mb-3">
            <form
              action="/products/search"
              method="get"
              class="input-group mb-3"
            >
              <input
                type="text"
                class="form-control"
                placeholder="Nama Product"
                name="nama"
                aria-describedby="button-addon2"
              />
              <button
                class="btn btn-outline-light"
                type="submit"
                id="button-addon2"
              >
                Button
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="row gap-lg-3">
        <h3>Nama Product</h3>
        <% const rupiah = (number)=>{ return new Intl.NumberFormat("id-ID", {
        style: "currency", currency: "IDR" }).format(number); } %> <%
        if(products.length == 0) { %>
        <h6>--Tidak ada Produk--</h6>
        <% } %> <% products.forEach(product => { %>
        <div class="col-6 col-lg-3">
          <a href="/">
            <div class="card">
              <img src="/images/box.jpg" class="card-img-top" alt="Product" />
              <div class="card-body">
                <h5 class="card-title"><%= product.nama %></h5>
                <p class="card-text"><%= rupiah(product.hargaEceran) %></p>
              </div>
            </div>
          </a>
        </div>
        <% }); %>
      </div>
    </main>
    <!-- Footer -->
    <footer class="bg-body-tertiary text-center text-lg-start mt-4">
      <div class="text-center p-3">
        © 2024 Copyright:
        <a class="text-body" href="https://github.com/gilangarya01"
          >@gilangarya01</a
        >
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
